@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&display=swap');
// =================== Global Rules ===========================================
* {
    box-sizing: border-box;
}
html,body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul { list-style: none; padding: 0; margin: 0;}
a { text-decoration: none;}
.container {
    padding-inline: 2rem;
    margin-inline: auto;
}
@media(min-width: 768px) { .container { width: 750px;}}
@media(min-width: 992px) { .container { width: 970px;}}
@media(min-width: 1200px) { .container { width: 1170px;}}
.capital {
    text-transform: capitalize;
}
// Variables 
$Black: #191919;
$Orange: #f6511e;
$main-transition: .4s;

@mixin flex($just, $align) {
    display: flex;
    justify-content: $just;
    align-items: $align;
}

// ========================= Start Header ==============================
header {
    position: relative;
    background-color: #f3f3f3;
    .container {
        @include flex(space-between, center);
        flex-wrap: wrap;
        position: relative;
        .main {
            @include flex(space-between, center);
            gap: 6rem;
            height: 80px;
            .logo {
                @include flex(center, center);
                font-size: 1.75rem;
                font-weight: bold;
                color: $Black;
                transition: color $main-transition;
                &:hover { color: $Orange;}
            }
            .main-list {
                @include flex(center, center);
                a {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    height: 80px;
                    color: $Black;
                    width: fit-content;
                    padding-inline: 1.5rem;
                    position: relative;
                    transition: background $main-transition;
                    padding-top: .45rem;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: $Orange;
                        transition: width $main-transition;
                    }
                    &:hover::before {
                        width: 100%;
                    }
                    &:hover { background-color: #f9f9f9;}
                }
            }
        }
        .main-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            .profile-icon, .markter-icon {
                user-select: none;
                cursor: pointer;
                display: flex;
                align-items: center;
            }
            .profile-icon {
                img {
                    width: 50px;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    transition: border $main-transition;
                }
                .card {
                    position: absolute;
                    bottom: -11.28rem;
                    right: 0;
                    min-width: 250px;
                    background-color: #f9f9f9;
                    padding: 1rem;
                    height: 180px;
                    display: none;
                    z-index: 100;
                    h4 {
                        color: $Black;
                        font-size: .8rem;
                    }
                    .info {
                        padding-top: 3rem;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-top: 1px solid #ccc;
                        > span {
                            display: block;
                            font-weight: bold;
                            font-size: .75rem;
                            color: #777;
                            letter-spacing: .5px;
                        }
                    }
                }
                &:hover img {
                    border-color: $Orange;
                }
                &:hover .card { display: block;}
            }
        }
    }
}

// ========================= Start Landing ===============================
.landing {
    position: relative;
    background-color: white;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7rem;
        min-height: calc(100vh - 80px);
        .main-screen {
            user-select: none;
            .big-screen {
                img {
                    max-width: 100%;
                    border-radius: 10px;
                }
            }
            .smaller-screen {
                display: flex;
                gap: .5rem;
                margin-top: 1rem;
                img {
                    width: calc((100% - 1.5rem ) / 4);
                    max-width: 100%;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }
        .info {
            padding-bottom: 1.5rem;
            >span {
                color: $Orange;
                text-transform: uppercase;
                font-size: .85rem;
                letter-spacing: 1px;
                display: block;
            }
            >h2 {
                margin: 0;
                margin-top: .65rem;
                font-size: 1.8rem;
            }
            > p {
                color: #777;
                line-height: 1.7;
                margin-top: 1.5rem;
            }
            .price {
                width: 120px;
                h3 {
                    margin: 0;
                    margin-bottom: .65rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: $Black;
                    > span {
                        display: block;
                        color: $Orange;
                        background-color: #f6511e26;
                        width: 300px;
                        flex: 1;
                        font-size: .8rem;
                        padding: .25rem .65rem;
                        font-weight: bold;
                    }
                }
                span {
                    display: block;
                    color: #777;
                    font-weight: bold;
                    font-size: .85rem;
                }
            }
            > form {
                .content {
                    margin-top: 2rem;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    .counter {
                        background-color: #ececec;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        column-gap: 2rem;
                        padding: 1rem;
                        border-radius: 10px;
                        > i { 
                            cursor: pointer;
                            color: #e58a6e;
                            user-select: none;
                        }
                        .number {
                            font-weight: bold;
                            font-size: .9rem;
                        }
                    }
                    .btn {
                        flex: 1;
                        > a {
                            width: 250px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            column-gap: 1rem;
                            padding: 1rem;
                            border-radius: 10px;
                            background-color: $Orange;
                            color: white;
                            text-transform: capitalize;
                            transition: $main-transition;
                            border: 1px solid $Orange;
                            &:hover {
                                background-color: white;
                                color: $Orange;
                            }
                        }
                    }
                }
            }
        }
    }
}